# Visual Studio
.vs/
*.user
*.suo

# Build folders
bin/
obj/

# Logs
*.log

# Node / React
node_modules/
dist/

# Environment files
.env
.env.local

# App settings (development secrets)
appsettings.Development.json

# OS files
.DS_Store
Thumbs.db